<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>VKShoes</title>
</head>

<body>
    <nav>
        <img src="https://data.nssmag.com/images/galleries/23805/Senza-titolo-3(6).jpg" alt="">
        <a href="/">Home</a>
        <a href="/#cadastro">Cadastro</a>
        <a href="/produtos">Produtos</a>
        
       
    </nav>

    <div class="carousel">
        <div class="container" id="img">

            <img src="https://img2.gratispng.com/20180806/pee/kisspng-nike-air-max-basketball-shoe-sneakers-5b68e20a585d07.1160409515336002663619.jpg" alt="">
            <img src="https://static.netshoes.com.br/produtos/tenis-nike-air-zoom-cage-3-feminino/83/HZM-0499-483/HZM-0499-483_zoom1.jpg?ts=1560355352&ims=544x" alt="">
            <img src="https://cdn.dooca.store/2452/products/sdnfsdng_640x640+fill_ffffff.jpg?v=1617854798&webp=0" alt="">
            <img src="https://authenticfeet.vteximg.com.br/arquivos/ids/245197-600-600/Tenis-Nike-Air-Force-1-07-L08-Masculino-Azul-5.jpg?v=637667233171800000" alt="">


        </div>


    </div>
  
   
    
    
    <section id="cadastro"> 
        
        <form action="/cadastro" method="POST"> 
            
            <% if ( tenis == undefined ) { %>
            <h2>Cadastre um novo tênis</h2>
        
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required>
            
            <label for="imagem">Imagem:</label>
            <input type="text" name="imagem" required>
    
            <label for="tamanho">Tamanho:</label>
            <input type="text" name="tamanho" required>
            
            <label for="cor">Cor:</label>
            <input type="text" name="cor" required></input>
            
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" required></input>
            
            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" required></input>
            
            <label for="material">Material:</label>
            <input type="text" name="material" required></input>
    
            <button id="btnCadastro" type="submit">Cadastrar</button>
            <% }else{ %>

        </form>
        <form action="/update/<%=tenis.id %>" method="POST"> 
            <h2>Cadastre um novo tênis</h2>
        
            <label for="nome">Nome:</label>
            <input type="text" name="nome" required>
            
            <label for="imagem">Imagem:</label>
            <input type="text" name="imagem" required>
    
            <label for="tamanho">Tamanho:</label>
            <input type="text" name="tamanho" required>
            
            <label for="cor">Cor:</label>
            <input type="text" name="cor" required></input>
            
            <label for="descricao">Descrição:</label>
            <input type="text" name="descricao" required></input>
            
            <label for="tipo">Tipo:</label>
            <input type="text" name="tipo" required></input>
            
            <label for="material">Material:</label>
            <input type="text" name="material" required></input>
    
            <button id="btnCadastro" type="submit">Cadastrar</button>
    

        </form>
        <% } %>

       
    </section>
    <footer>
        
        <a href="/">Inicio</a>
        <a href="/#cadastro">Cadastro</a>
        <a href="/produtos ">Produtos</a>
        <p>&#9743; (41) 9.1911-3434</p>
        <p>&#9993; vk@vk.com</p>
        <p>  Sobre a Empresa: &#10100; Referência em vendas e distribuição de produtos.Entregamos para todo Brasil. &#10101;</p>
        

    </footer>

   

   
<script src="js/index.js"></script>
</body>

</html>